body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  gap: 40px;
}

h1 {
  font-family: "Send Flowers", cursive;
  font-size: 30px;
}

div {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.tiktok {
  width: 30px;
  height: auto;
}

.youtube {
  width: 30px;
  height: auto;
}

.snap {
  width: 30px;
  height: auto;
}

.insta {
  width: 27px;
  height: auto;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 50px;
  }

  .tiktok {
    width: 40px;
  }

  .youtube {
    width: 40px;
  }

  .snap {
    width: 40px;
  }

  .insta {
    width: 35px;
  }
}
